<h1 class="page-header">Plantilla de flujos list</h1>

{{link-to "New Plantilla de flujo" "plantilla-de-flujos.new" tagName="button" class="btn btn-primary" }}

{{#if model.length}}
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            Nombre
          </th>
          <th>
            Actividades
          </th>
          <th colspan="3">
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |plantillaDeFlujo|}}
          <tr>
            <td>
              {{plantillaDeFlujo.nombre}}
            </td>
            <td>
              {{plantillaDeFlujo.actividades}}
            </td>
            <td>
              {{link-to "Edit" "plantilla-de-flujos.edit" plantillaDeFlujo}}
            </td>
            <td>
              {{link-to "Show" "plantilla-de-flujos.show" plantillaDeFlujo}}
            </td>
            <td>
              <a href="#" {{action "remove" plantillaDeFlujo}}>Remove</a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{else}}
  <p id="blankslate">
    No Plantilla de flujos found
  </p>
{{/if}}
