<h1 class="page-header">
  <span class="pull-right text-muted">{{fa-icon "eye" fixedWidth=true}}</span>
  {{#link-to "proyectos.show" model tagName="a" }}{{fa-icon "arrow-left" fixedWidth=true}}{{/link-to}}
  Kanban
</h1>

{{#if model.flujos.length}}
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>
            Nombre
          </th>
          <th>
            Proyecto
          </th>
          <th colspan="3" class="text-center">
            {{fa-icon "bars" fixedWidth=true}}
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |flujo|}}
          <tr>
            <td>
              {{flujo.nombre}}
            </td>
            <td>
              {{flujo.proyecto.nombre}}
            </td>
            <td class="text-center">
              {{#link-to "flujos.show" flujo (query-params proyecto=proyecto)}}
                {{fa-icon "eye" fixedWidth=true}}
              {{/link-to}}
            </td>
            <td class="text-center">
              {{#link-to "flujos.edit" flujo (query-params proyecto=proyecto)}}
                {{fa-icon "pencil" fixedWidth=true}}
              {{/link-to}}
            </td>
            <td class="text-center">
              <a href="#" {{action "remove" flujo}}>
                {{fa-icon "times" fixedWidth=true}}
              </a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{else}}
  <p id="blankslate">
    No se encontraron datos
  </p>
{{/if}}
