{{link-to "Proyecto list" "proyectos.index" class="btn btn-primary" }}

<h1 class="page-heading">Proyecto</h1>


<div class="panel panel-default">
  <div class="panel-heading">Nombre:</div>
  <div class="panel-body">
    {{model.nombre}}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Descripcion:</div>
  <div class="panel-body">
    {{model.descripcion}}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Fechainicio:</div>
  <div class="panel-body">
    {{model.fechaInicio}}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Fechafin:</div>
  <div class="panel-body">
    {{model.fechaFin}}
  </div>
</div>

