<h1 class="page-header">
  <span class="pull-right text-muted">{{fa-icon "eye" fixedWidth=true}}</span>
  {{#link-to "proyectos.index" tagName="a" }}{{fa-icon "arrow-left" fixedWidth=true}}{{/link-to}}
  Proyecto
</h1>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Info</a></li>
  <li role="presentation">{{#link-to "usuarios"}}Usuarios{{/link-to}}</li>
  <li role="presentation">{{#link-to "flujos"}}Flujos{{/link-to}}</li>
  <li role="presentation">{{#link-to "actividads"}}Actividades{{/link-to}}</li>
  <li role="presentation">{{#link-to "sprints"}}Sprints{{/link-to}}</li>
  <li role="presentation">{{#link-to "userstories"}}User Stories{{/link-to}}</li>
</ul>

<div class="form-horizontal">

  <div class="form-group">
    <label class="control-label col-md-4">Nombre</label>
    <div class="col-md-8">
      <p class="form-control-static">
        {{model.nombre}}
      </p>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-4">Descripcion</label>
    <div class="col-md-8">
      <p class="form-control-static">
        {{model.descripcion}}
      </p>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-4">Fecha inicio</label>
    <div class="col-md-8">
      <p class="form-control-static">
        {{model.fechainicio}}
      </p>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-4">Fecha fin</label>
    <div class="col-md-8">
      <p class="form-control-static">
        {{model.fechafin}}
      </p>
    </div>
  </div>

</div>
