<h1 class="page-header">
  <span class="pull-right text-muted">{{fa-icon "eye" fixedWidth=true}}</span>
  {{#link-to "userstories.index" tagName="a" }}{{fa-icon "arrow-left" fixedWidth=true}}{{/link-to}}
  Userstory
</h1>

<div class="form-horizontal">
  
  <div class="form-group">
    <label class="control-label col-md-4">Descripcion</label>
    <div class="col-md-8">
      <p class="form-control-static">
        {{model.descripcion}}
      </p>
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-md-4">Usuario</label>
    <div class="col-md-8">
      <p class="form-control-static">
        {{model.usuario}}
      </p>
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-md-4">Valornegocio</label>
    <div class="col-md-8">
      <p class="form-control-static">
        {{model.valornegocio}}
      </p>
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-md-4">Tiempoestimado</label>
    <div class="col-md-8">
      <p class="form-control-static">
        {{model.tiempoestimado}}
      </p>
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-md-4">Tiemporeal</label>
    <div class="col-md-8">
      <p class="form-control-static">
        {{model.tiemporeal}}
      </p>
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-md-4">Sprint</label>
    <div class="col-md-8">
      <p class="form-control-static">
        {{model.sprint}}
      </p>
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-md-4">Prioridad</label>
    <div class="col-md-8">
      <p class="form-control-static">
        {{model.prioridad}}
      </p>
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-md-4">Historial</label>
    <div class="col-md-8">
      <p class="form-control-static">
        {{model.historial}}
      </p>
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-md-4">Adjunto</label>
    <div class="col-md-8">
      <p class="form-control-static">
        {{model.adjunto}}
      </p>
    </div>
  </div>
  
</div>
